<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<!-- Material Icons by Google-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/jquery-smarttab@3/dist/css/smart_tab_all.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="stylesheets/smarttab.css">
<title>JOE AVANZATO - ATTACK, DEFEND, REPEAT</title>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-smarttab@3/dist/js/jquery.smartTab.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/htmx.org@1.4.0"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>


<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">

</head>

<body>


<div id="sidebar" class="sidebar">
<div id="smarttab">
<ul class="nav">
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#tab" onclick="toggleSidebar()"><span class="material-icons">menu</span></a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#welcome" hx-get="/fragment/welcome/" hx-trigger="revealed" hx-target="#welcome-target" hx-swap="outerHTML"><span class="material-icons">home</span>HOME</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#detections"><span class="material-icons">sensors</span>DETECTIONS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#hunts"><span class="material-icons">zoom_out</span>HUNTS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#actors" hx-get="/fragment/actoroverview/" hx-trigger="click" hx-target="#actor-target" hx-swap="outerHTML"><span class="material-icons">groups</span>ACTORS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#techniques"><span class="material-icons">grid_view</span>TECHNIQUES</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#mitigations"><span class="material-icons">support</span>MITIGATIONS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#controls"><span class="material-icons">insert_chart_outlined</span>CONTROLS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#maltools"><span class="material-icons">warning_amber</span>MAL/TOOLS</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#help"><span class="material-icons">accessibility_new</span>HELP</a>
</li>
<li>
<a class="sidebarLink hvr-bounce-to-right nav-link" href="#admin"><span class="material-icons">lightbulb</span>ADMIN</a>
</li>
</ul>

<div class="tab-content scroll-y">

<div id="welcome" class="tab-pane" role="tabpanel">
<div id="welcome-target" class="htmx-indicator"></div>
</div>
<div id="detections" class="tab-pane" role="tabpanel">
<p>DETECTIONS one of the links above to navigate to the relevant content.</p>
</div>
<div id="hunts" class="tab-pane" role="tabpanel">
<p>HUNTS Tab Contents Ipsem Lorum</p>
</div>

<div id="actors" class="tab-pane" role="tabpanel">
<div class="actor-contents">

<div id="actor-target" class="htmx-indicator"></div>

</div>
</div>

<div id="tab-4" class="tab-pane" role="tabpanel">
<p>DETECTIONS Tab Contents Ipsem Lorum</p>
<br>
<br>
</div>
<div id="tab-5" class="tab-pane" role="tabpanel">
<p>Click one of the links above to navigate to the relevant content.</p>
</div>
<div id="tab-6" class="tab-pane" role="tabpanel">
<p>DETECTIONS Tab Contents Ipsem Lorum</p>
</div>
<div id="maltools" class="tab-pane" role="tabpanel">
<p>Click one of the links above to navigate to the relevant content.</p>
</div>

<div id="help" class="tab-pane" role="tabpanel">
<div class="help-contents">

<div id="help-target"></div>

</div>
</div>

</div>

</div>

</div>




<div class="bg">
<canvas id="lines" class="background"></canvas>
</div>

<script>
    window.onload=function(){
    Particles.init({
    selector:'.background',
    connectParticles:true,
    color: ['#ff0000', '#000dff', '#a200ff', '#ffffff'],
    maxParticles: 400,
    speed: .2,
    minDistance: 80,
    });
    };
</script>

<script>
var typed = new Typed('#typed', {
stringsElement: '#typed-strings',
typeSpeed: 25,
});
</script>

<script>
$(document).ready(function() {
$('#smarttab').smartTab();
});

var options= {
selected:1,
transition: {
    animation: 'swing-horizontal',
    speed: 400,
},
theme: 'dark',
autoAdjustHeight: true,
keyboardSettings: {
keyNavigation: false,
}
};

$('#smarttab').smartTab("setOptions", options);
</script>

</body>
</html>
